h1 {
    font-size: 36px;
    padding-top: 16px;
    padding-bottom: 8px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 22px;
    padding: 16px;
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
    padding: 16px;
    border-radius: 32px;
}