<footer class="page-footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left">
    <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
        <h1>Footer Content</h1>
        <p>Here you can use rows and columns here to organize your footer content.</p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-6 mt-md-0 mt-3">
            <h1>Contacto</h1>
            <ul class="list-unstyled">
                <li><h5><mat-icon>place</mat-icon>Cota Cota</h5></li>
                <li><h5><mat-icon>phone</mat-icon>77790111</h5></li>
                <li><h5><mat-icon>email</mat-icon>ugartearq@gmail.com</h5></li>
                <li><h5><mat-icon>av_timer</mat-icon>9:00 - 18:00</h5></li>
            </ul>
          </div>
      </div>
    </div>

    <div class="footer-copyright text-center py-3">© Copyrights 2021, Todos los derechos reservados.</div>
  </footer>