<footer class="page-footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left">
    <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
        <h1>Empresa</h1>
        <h4>
          Estudio de Patologías, Diagnosis, y Rehabilitación de la Construcción, Proyectos, Remodelaciones y Construcciones, Ampliaciones, Servicios de Supervisión y Consultorías.</h4>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-6 mt-md-0 mt-3">
            <h1>Contacto</h1>
            <ul class="list-unstyled">
                <li><h4><mat-icon>place</mat-icon>Cota Cota, Av. Ballivián, Edificio Faith #7</h4></li>
                <li><h4><mat-icon>phone</mat-icon>77790111 - 77706886</h4></li>
                <li><h4><mat-icon>email</mat-icon>jonicaconstrucciones@gmail.com</h4></li>
                <li><h4><mat-icon>av_timer</mat-icon>9:00 - 16:00</h4></li>
            </ul>
          </div>
      </div>
    </div>

    <div class="footer-copyright text-center py-3">© Copyrights 2021, Todos los derechos reservados.</div>
  </footer>