.page-footer {
    background-color: black;
    color: white;
}

.container-fluid {
    padding: 64px;
}

.footer-copyright {
    background-color: rgb(70, 70, 70);
    align-content: center;
    color: azure;
    text-align: center;
}

.aligned-with-icon {
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
}

.mat-icon {
    margin-right: 10px;
}

mat-icon {
    color: #999999;
}

.mat-list-item {
    color: #999999;
    text-align: start;
}