* {
    padding-left: 64px;
    padding-right: 64px;
}

.subTitle {
    color: black;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    font-size: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.paragraph {
    color: black;
    font-style: normal;
    font-weight: 300;
    text-align: left;
    font-size: 18px;
    padding-bottom: 32px;
}

img {
    width: 100%;
}