<p class="titleSection" style="color: black; margin-top: 128px;">Empresa</p>
<div fxLayout="row column" fxLayoutAlign="center" style="padding-bottom: 96px;">
    <mat-card class="example-card mat-elevation-z8" style="background-color: rgb(52, 52, 214);">
        <p class="subTitle" style="color: white;">Misión</p>
        <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ornare tincidunt metus, sed
            pharetra
            eros vestibulum ut.</mat-card-content>
    </mat-card>
    <mat-card class="example-card mat-elevation-z8" style="background-color: gray;">
        <p class="subTitle" style="color: white;">Visión</p>
        <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ornare tincidunt metus, sed
            pharetra
            eros vestibulum ut.</mat-card-content>
    </mat-card>
    <mat-card class="example-card mat-elevation-z8" style="background-color: rgb(13, 172, 119);">
        <p class="subTitle" style="color: white;">Valores Corporativos</p>
        <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ornare tincidunt metus, sed
            pharetra
            eros vestibulum ut.</mat-card-content>
    </mat-card>
</div>
<div fxLayout="row column" fxLayoutAlign="center" style="padding-bottom: 96px;">
    <mat-card class="example-card mat-elevation-z8">
        <p class="subTitle">Misión</p>
        <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ornare tincidunt metus, sed
            pharetra
            eros vestibulum ut. Donec suscipit nisi ac nulla blandit, eget condimentum erat efficitur. Vivamus vel
            tellus
            leo.
            Sed imperdiet magna sem, ac vulputate nibh aliquam ut. Mauris euismod ut elit ac convallis. Sed sit amet
            sagittis
            lacus. In gravida libero velit, nec consequat nulla aliquet id. Praesent mauris felis, rutrum quis odio vel,
            varius
            dictum nulla. Integer enim diam, feugiat sit amet venenatis vel, pharetra a tortor. Mauris accumsan ligula
            vel
            mi
            lobortis auctor. Nullam et felis a erat semper molestie ac vitae orci. Vestibulum lacinia commodo tellus,
            quis
            hendrerit turpis dictum eget. Nullam rutrum, ante vel iaculis fringilla, tellus nisl luctus dolor, eget
            hendrerit
            mauris tortor ut quam.</p>
    </mat-card>
    <mat-card class="example-card mat-elevation-z8">
        <p class="subTitle">Visión</p>
        <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ornare tincidunt metus, sed
            pharetra
            eros vestibulum ut. Donec suscipit nisi ac nulla blandit, eget condimentum erat efficitur. Vivamus vel
            tellus
            leo.
            Sed imperdiet magna sem, ac vulputate nibh aliquam ut. Mauris euismod ut elit ac convallis. Sed sit amet
            sagittis
            lacus. In gravida libero velit, nec consequat nulla aliquet id. Praesent mauris felis, rutrum quis odio vel,
            varius
            dictum nulla. Integer enim diam, feugiat sit amet venenatis vel, pharetra a tortor. Mauris accumsan ligula
            vel
            mi
            lobortis auctor. Nullam et felis a erat semper molestie ac vitae orci. Vestibulum lacinia commodo tellus,
            quis
            hendrerit turpis dictum eget. Nullam rutrum, ante vel iaculis fringilla, tellus nisl luctus dolor, eget
            hendrerit
            mauris tortor ut quam.</p>
    </mat-card>
    <mat-card class="example-card mat-elevation-z8">
        <p class="subTitle">Valores corporativos</p>
        <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ornare tincidunt metus, sed
            pharetra
            eros vestibulum ut. Donec suscipit nisi ac nulla blandit, eget condimentum erat efficitur. Vivamus vel
            tellus
            leo.
            Sed imperdiet magna sem, ac vulputate nibh aliquam ut. Mauris euismod ut elit ac convallis. Sed sit amet
            sagittis
            lacus. In gravida libero velit, nec consequat nulla aliquet id. Praesent mauris felis, rutrum quis odio vel,
            varius
            dictum nulla. Integer enim diam, feugiat sit amet venenatis vel, pharetra a tortor. Mauris accumsan ligula
            vel
            mi
            lobortis auctor. Nullam et felis a erat semper molestie ac vitae orci. Vestibulum lacinia commodo tellus,
            quis
            hendrerit turpis dictum eget. Nullam rutrum, ante vel iaculis fringilla, tellus nisl luctus dolor, eget
            hendrerit
            mauris tortor ut quam.</p>
    </mat-card>
</div>