.map {
    justify-content: center;
    display: flex;
    padding-bottom: 64px;
    padding-left: 16px;
    padding-right: 16px;
}

.titleSection {
    color: black;
    font-style: normal;
    text-align: center;
    font-size: 64px;
    padding-top: 64px;
    padding-bottom: 64px;
    font-family: "Times New Roman", Times, serif;
}