.map {
    justify-content: center;
    display: flex;
    padding-bottom: 64px;
    padding-left: 16px;
    padding-right: 16px;
}

.row {
    align-content: center;
    justify-content: center;
}

.mat-card {
    width: 360px;
    border-radius: 18px;
    height: wrap;
    margin: 16px;
    align-content: center;
    justify-content: center;
    display: flex;
    text-align: center;
}

.avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: aqua;
}

mat-card-title {
    padding-top: 32px;
    padding-bottom: 8px;
    font-weight: 500;
    font-size: 26px;
}

mat-card-subtitle {
    font-weight: 300;
    font-size: medium;
}

mat-card-content {
    width: 100%;
    padding: 16px;
}

mat-card-actions {
    padding-top: 32px;
}

mat-icon {
    margin-right: 12px;
}

mat-list-item {
    font-size: 18px;
}

.whatsapp-button {
    background-color: green;
    color: white;
    font-size: 12px;
}

.email-button {
    background-color: blue;
    color: white;
    font-size: 12px;
}