<nav *ngIf="!mobile" mat-tab-nav-bar mat-align-tabs="center">
  <a mat-tab-link
    *ngFor="let link of navLinks"
    [routerLink]="link.link"
    routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive"
    >{{link.label}}
  </a>
</nav>
<div *ngIf="mobile" class="mobile-navbar">
  <button mat-icon-button (click)="drawer.toggle()">
    <svg style="width:28px;height:28px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
    </svg>
  </button>
</div>
<mat-drawer-container class="navbar-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <a mat-flat-button (click)="drawer.toggle()"
      *ngFor="let link of navLinks"
      [routerLink]="link.link"
      routerLinkActive #rla="routerLinkActive"
      >{{link.label}}
    </a>
  </mat-drawer>
</mat-drawer-container>