.mat-tab-nav-bar {
    padding: 10px;
    background-color: white;
}

.logo {
    width: 90px;
    height: 100px;
    padding: 10px;
}

.p1 {
    font-size: 72px;
    padding: 32px;
    font-family: "Times New Roman", Times, serif;
}