* {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.mat-tab-nav-bar {
    padding: 10px;
    background-color: white;
}

.logo {
    width: 90px;
    height: 100px;
    padding: 10px;
}