* {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

nav {
    width: 100%;
}

.mat-tab-nav-bar {
    background-color: white;
    top: 0;
    z-index: 5;
    width: 100%;
}

.nav-bar {
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
}

.mat-tab-link {
    font-weight: 600;
    color: black;
}

.logo {
    width: 90px;
    height: 100px;
    padding: 10px;
}

.navbar-container {
    height: 100vh;
    position: absolute;
    z-index: 6;
}

.mobile-navbar {
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.sidenav {
    padding: 20px;
}

.mat-flat-button {
    font-size: 24px;
    padding-top: 8px;
    font-weight: 600;
}

h1 {
    font-family: "Times New Roman", Times, serif;
    font-weight: 10;
    font-size: 24px;
}

.title {
    background-color: RGB(0, 66, 150);
    height: 48px;
    color: white;
    width: 100%;
    justify-content: center;
}

mat-card-actions {
    position: absolute;
    right: 0;
    margin-right: 8px;
    margin-bottom: 2px;
}
