<div class="cards">
    <p class="titleSection" style="color: black; margin-top: 128px;">Experiencia</p>
    <div class="row">
        <mat-card class="mat-elevation-z4" *ngFor="let item of rowItems">
            <mat-card-header>
                <mat-card-title>{{ item.title }}</mat-card-title>
                <mat-card-subtitle>{{ item.date }}</mat-card-subtitle>
            </mat-card-header>
            <div class="img-container">
                <img mat-card-image [src]="item.image">
            </div>
            <mat-card-actions>
                <button mat-button (click)="openDialog(item)">Más información</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>