<div class="cards">
    <p class="titleSection">Obras</p>
    <div class="row">
        <div *ngFor="let item of rowItems">
            <mat-card class="mat-elevation-z4" >
                <img mat-card-image src={{ item.image }}>
                <mat-card-title>{{ item.title }}</mat-card-title>
                <mat-card-content>
                    <p>{{ item.description }}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>Más información</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>