* {
    font-family: 'Montserrat', sans-serif;
}  

.cards {
    justify-content: center;
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 96px;
}

.row {
    align-content: center;
    justify-content: center;
}

.mat-card {
    width: 350px;
    border-radius: 18px;
    margin: 16px;
}

.mat-button {
    color: blue;
}

.mat-card-image {
    max-width: wrap;
    max-height: 200px;
    align-content: center;
    align-self: center;
}