<div class="cards">
    <div style="background: rgba(0, 0, 0, 0.5);  padding-top: 128px;">
        <p class="titleSection">Servicios</p>
        <div fxLayout="row column" fxLayoutAlign="center" style="padding-bottom: 96px;">
            <mat-card *ngFor="let item of rowItems">
                <img class="mat-card-image" [src]="item.image">
                <mat-card-content>
                    <mat-card-title>{{ item.title }}</mat-card-title>
                    <mat-list>
                        <mat-list-item *ngFor="let subComponent of item.description">{{ subComponent }}</mat-list-item>
                    </mat-list>
                    <mat-card-actions>
                        <button mat-raised-button color="primary" (click)="openDialog(item.route)">Más
                            información</button>
                    </mat-card-actions>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>