<div>
  <div class="brand-container">
    <video autoplay muted loop id="video">
      <source src="./assets/videos/background.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
    <div class="overlay">
      <img src="./assets/images/logo.jpg" class="logo">
      <h1>JÓNICA</h1>
      <hr>
      <h2>Construcciones</h2>
      <a button mat-raised-button routerLink="../empresa" color="primary">Más sobre nosotros</a>
   </div>
  </div>
  <div class="cards">
    <div style="background: rgba(0, 0, 0, 0.5);">
      <p class="titleSection">Servicios</p>
      <div fxLayout="row column" fxLayoutAlign="center" style="padding-bottom: 96px;">
        <mat-card *ngFor="let item of rowItems">
          <img class="mat-card-image" [src]="item.image">
          <mat-card-content>
            <mat-card-title>{{ item.title }}</mat-card-title>
            <mat-list>
              <mat-list-item *ngFor="let subComponent of item.description">{{ subComponent }}</mat-list-item>
            </mat-list>
            <mat-card-actions>
              <button mat-raised-button color="primary" (click)="openDialog(item.route)">Más información</button>
            </mat-card-actions>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <app-contacts></app-contacts>
</div>