<div>
  <ngb-carousel *ngIf="images"n s>
    <ng-template ngbSlide *ngFor="let item of images">
      <div class="picsum-img-wrapper">
        <img [src]="item.route" alt="item.title">
      </div>
      <div class="carousel-caption">
        <h3>{{ item.title }}</h3>
        <p>{{ item.description }}</p>
      </div>
    </ng-template>
  </ngb-carousel>
  <div class="cards">
    <p class="titleSection">Servicios</p>
  <div class="row">
    <div *ngFor="let item of rowItems">
      <mat-card class="mat-elevation-z4" >
        <img mat-card-image src={{item.image}}>
        <mat-card-title>{{item.title}}</mat-card-title>
        <mat-card-content>
        <p>{{ item.description }}</p>
        </mat-card-content>
        <mat-card-actions>
        <button mat-button onclick="load(item.route)">Más información</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  </div>
</div>