<div>
  <div class="brand-container">
    <video autoplay muted loop="true" id="video">
      <source src="./assets/videos/background.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
    <div class="overlay">
      <img src="./assets/images/logo.jpg" class="logo">
      <h1>JÓNICA</h1>
      <hr>
      <h2>Construcciones</h2>
      <a button mat-raised-button routerLink="../empresa" color="primary">Más sobre nosotros</a>
    </div>
  </div>
  <div class="banner">
    <mat-card-title style="font-size: 64px;">¿Quiénes somos?</mat-card-title>
    <hr style="width: 85%; margin-top: 36px; margin-bottom: 4px;">
    <h3>Jónica Construcciones es una empresa constructora con mas de treinta años de experiencia en la
      construcción,
      restauración y avalúos de mucha importancia en La Paz y el país.</h3>
  </div>
  <app-constructions></app-constructions>
  <app-contacts></app-contacts>
</div>